<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h3>Delete user</h3>
	<form action="#" method="post">
		<select name="id_user">
			{% for user in users %}
				<option value="{{user.id}}"> {{user.username}} </option>
			{% endfor %}	
		</select>
		<input type="submit" value="delete">
	</form>
	<button type="button" href="http://127.0.0.1:5000/">Admin</button>
</body>
</html>