<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    index {{nombre}}

    <!-- <input type="submit" value="bOTON PA IR A REGISTRARSE" href="{{url_for('user_create')}}" > -->
    <button  onclick="{{ url_for('user_create') }}">bOTON PA IR A REGISTRARSE</button>
    <a href="{{ url_for('user_create') }}">Ir a registro</a>
</body>
</html>